<header class="header" [class.header--scrolled]="isScrolled">
  <div class="header__inner">

    <a routerLink="/" class="header__logo">
      HireMe<span>AI</span>
    </a>

    <nav class="header__nav">
      <ul class="header__nav-list">
        @for (link of navLinks; track link.label) {
          <li>
            <a
              [routerLink]="link.route"
              routerLinkActive="header__nav-link--active"
              [routerLinkActiveOptions]="{ exact: link.exact ?? false }"
              class="header__nav-link"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </nav>

    <div class="header__actions">
      <a routerLink="/login" class="header__btn header__btn--ghost">
        Log in
      </a>
      <button (click)="openRegister()" class="header__btn header__btn--primary">
        Sign up
      </button>
    </div>

    <button
      class="header__hamburger"
      [class.header__hamburger--open]="mobileOpen"
      (click)="toggleMobile()"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>

  <div class="header__mobile" [class.header__mobile--open]="mobileOpen">
    <nav>
      <ul class="header__mobile-list">
        @for (link of navLinks; track link.label) {
          <li>
            <a
              [routerLink]="link.route"
              routerLinkActive="header__mobile-link--active"
              [routerLinkActiveOptions]="{ exact: link.exact ?? false }"
              class="header__mobile-link"
              (click)="closeMobile()"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </nav>
    <div class="header__mobile-actions">
      <a (click)="closeMobile()" class="header__btn header__btn--ghost header__btn--full" >
        Log in
      </a>
      <button (click)="openRegister(); closeMobile()" class="header__btn header__btn--primary header__btn--full">
        Sign up
      </button>
    </div>
  </div>

</header>
